#root {
  height: 100%;
}

main {
  padding: 76px 0 0 0 !important;
  height: 100%;
  background-color: $white;
}

.dialog-component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialog-component .msg-sender {
  position: relative;
  bottom: 15px;
}
